@font-face {
  font-family: "fw-700";
  src: url("../font/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "fw-500";
  src: url("../font/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "fw-400";
  src: url("../font/Inter-Regular.ttf") format("truetype");
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: "fw-400";
  font-size: 14px;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: #303030;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
}

.prevent-scroll {
  overflow: hidden;
}

.wrapper {
  max-width: 1920px;
  margin: auto;
}

.container {
  max-width: 1400px;
  width: 1440px;
  margin: auto;
}

@media (max-width: 1490px) {
  .container {
    width: 1150px;
    max-width: 1150px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
    max-width: 960px;
  }
}
@media (max-width: 1023px) {
  .container {
    width: calc(100% - 120px);
    max-width: calc(100% - 120px);
  }
}
@media (max-width: 739px) {
  .container {
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none !important;
  }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none !important;
  }
}
/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none !important;
  }
}
.btn--more {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #303030;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.btn--more i {
  color: #303030;
  font-family: Font Awesome 6 Free;
  font-size: 8px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.breadcrumb {
  display: flex;
  padding: 0px 20px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.breadcrumb__item {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
  color: #303030;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.navbar {
  display: flex;
  margin-top: 30px;
  padding: 20px;
  background: #162E4D;
}
.navbar a {
  color: #FFFFFF;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.navbar a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.navbar--drop {
  cursor: pointer;
}
.navbar__sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  padding: 30px 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  gap: 17.391%;
}
.header__logo {
  color: #303030;
  font-family: "fw-400";
  font-size: 48px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.header__search {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #303030;
  flex: 1 0 0;
}
.header__search input {
  flex: 1 0 0;
  outline: none;
  border: none;
  background-color: #F2F2F2;
}
.header__search i {
  cursor: pointer;
}
.header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  color: #303030;
  font-family: "fw-400";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.header__info__phone {
  color: #303030;
  font-family: "fw-400";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.header__info__phone i {
  color: #303030;
  font-family: Font Awesome 6 Free;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.newsDetails {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.newsDetails__left {
  width: 74.565%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.newsDetails__left .title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.newsDetails__left .title--small {
  color: #303030;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.newsDetails__left .text {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
}
.newsDetails__left img {
  height: 800px;
  width: 100%;
  align-self: stretch;
}
.newsDetails__left hr {
  width: 100%;
  margin: 0;
  height: 1px;
}
.newsDetails__right {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.news__top {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__top__left {
  width: 49.511%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__top__left img {
  width: 100%;
  height: 540px;
}
.news__top__left .title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.news__top__left .text {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.news__top__center {
  width: 24.13%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__top__center .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__top__center .item img {
  width: 100%;
  height: 264px;
}
.news__top__center .item__title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.news__top__right {
  width: 24.185%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__top__right .header {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #162E4D;
}
.news__top__right .header__text {
  flex: 1 0 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.news__top__right .item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__top__right .item img {
  width: 135px;
  height: 83px;
}
.news__top__right .item__title {
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.news__bottom {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__bottom__left {
  width: 74.565%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__bottom__left .top {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
}
.news__bottom__left .top__item {
  width: 32.362%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__bottom__left .top__item img {
  width: 100%;
  height: 264px;
}
.news__bottom__left .top__item__title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.news__bottom__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.news__bottom__right .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__bottom__right .list__header {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #162E4D;
}
.news__bottom__right .list__header__title {
  flex: 1 0 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.news__bottom__right .list__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__bottom__right .list__item img {
  width: 135px;
  height: 83px;
  object-fit: cover;
}
.news__bottom__right .list__item__title {
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.news__bottom hr {
  width: 100%;
  margin: 0;
  height: 1px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.sidebar__header {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #162E4D;
}
.sidebar__header__title {
  flex: 1 0 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.sidebar__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.sidebar__item img {
  width: 135px;
  height: 83px;
  object-fit: cover;
}
.sidebar__item__title {
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.listPosts {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.listPosts img {
  width: 32.362%;
  height: 264px;
}
.listPosts__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.listPosts__content__title {
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.listPosts__content__text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.listPosts__content__text i {
  color: #303030;
  font-family: Font Awesome 6 Free;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.listPosts__content__text span {
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.footer {
  width: 100%;
  display: flex;
  padding: 60px 40px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: #303030;
}
.footer__intro {
  width: 32.989%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer__intro h2 {
  margin: 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.footer__intro__items {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__intro__items a {
  color: #FFFFFF;
  font-family: "fw-500";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.footer__intro__items i {
  color: #FFFFFF;
  font-family: Font Awesome 6 Free;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footer__support {
  width: 32.989%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer__support h2 {
  margin: 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.footer__support__items {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__support__items a {
  color: #FFFFFF;
  font-family: "fw-500";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.footer__support__items i {
  color: #FFFFFF;
  font-family: Font Awesome 6 Free;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 20px;
}
.footer__img {
  width: 32.989%;
  align-self: stretch;
}
.footer__img img {
  width: 100%;
  height: 207px;
  object-fit: cover;
}
.footer--mt30 {
  margin-top: 30px;
}

/*# sourceMappingURL=main.css.map */
