@font-face {
  font-family: "fw-700";
  src: url("../font/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "fw-500";
  src: url("../font/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "fw-400";
  src: url("../font/Inter-Regular.ttf") format("truetype");
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: "fw-400";
  font-size: 14px;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: #303030;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
}

.prevent-scroll {
  overflow: hidden;
}

.wrapper {
  max-width: 1920px;
  margin: auto;
}

.container {
  max-width: 1400px;
  width: 1440px;
  margin: auto;
}

@media (max-width: 1490px) {
  .container {
    width: 1150px;
    max-width: 1150px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
    max-width: 960px;
  }
}
@media (max-width: 1023px) {
  .container {
    width: calc(100% - 120px);
    max-width: calc(100% - 120px);
  }
}
@media (max-width: 739px) {
  .container {
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none !important;
  }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none !important;
  }
}
/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none !important;
  }
}
.btn--more {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #303030;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.btn--more i {
  color: #303030;
  font-family: Font Awesome 6 Free;
  font-size: 8px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.breadcrumb {
  display: flex;
  padding: 0px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background-color: #F2F2F2;
}
.breadcrumb__item {
  display: flex;
  padding: 10px 0px;
  align-items: flex-start;
  gap: 10px;
  color: #303030;
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.breadcrumb__item:not(:last-child)::after {
  margin: 0 50px;
  content: ">";
}

.navbar {
  display: flex;
  margin-top: 30px;
  padding: 20px;
  background: #162E4D;
}
.navbar a {
  color: #FFFFFF;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.navbar a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.navbar--drop {
  cursor: pointer;
}
.navbar__sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  padding: 30px 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  gap: 17.391%;
}
.header .logo {
  color: #303030;
  font-family: "fw-400";
  font-size: 48px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.header .search {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #303030;
  flex: 1 0 0;
}
.header .search input {
  flex: 1 0 0;
  outline: none;
  border: none;
  background-color: #F2F2F2;
}
.header .search i {
  cursor: pointer;
}
.header .hotline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  color: #303030;
  font-family: "fw-400";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.header .hotline__number {
  color: #303030;
  font-family: "fw-400";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.header .hotline__number i {
  color: #303030;
  font-family: Font Awesome 6 Free;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
@media (max-width: 430px) {
  .header {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .header .logo {
    flex: 1 0 0;
    color: #303030;
    font-family: "fw-400";
    font-size: 28px;
    font-style: normal;
    line-height: normal;
  }
  .header .search {
    display: none;
  }
  .header .hotline {
    font-size: 18px;
  }
  .header .hotline__number {
    font-size: 14px;
  }
  .header .hotline__number i {
    font-size: 14px;
  }
}

.products {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.products__categories {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.products__categories__category {
  display: flex;
  width: 260px;
  height: 720px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--hite, #FFF);
}
.products__categories__category p {
  padding: 15px 20px;
  background-color: #162E4D;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.products__categories__category ul li {
  list-style-type: none;
  display: flex;
  padding: 15px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.products__categories__category ul li a {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.newsDetails {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.newsDetails__left {
  width: 74.565%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.newsDetails__left .title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.newsDetails__left .title--small {
  color: #303030;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.newsDetails__left .text {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
}
.newsDetails__left img {
  height: 800px;
  width: 100%;
  align-self: stretch;
}
.newsDetails__left hr {
  width: 100%;
  margin: 0;
  height: 1px;
}
.newsDetails__right {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.news__top {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__top__left {
  width: 49.511%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__top__left img {
  width: 100%;
  height: 540px;
}
.news__top__left .title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.news__top__left .text {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.news__top__center {
  width: 24.13%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__top__center .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__top__center .item img {
  width: 100%;
  height: 264px;
}
.news__top__center .item__title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.news__top__right {
  width: 24.185%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__top__right .header {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #162E4D;
}
.news__top__right .header__text {
  flex: 1 0 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.news__top__right .item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__top__right .item img {
  width: 135px;
  height: 83px;
}
.news__top__right .item__title {
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.news__bottom {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__bottom__left {
  width: 74.565%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__bottom__left .top {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
}
.news__bottom__left .top__item {
  width: 32.362%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__bottom__left .top__item img {
  width: 100%;
  height: 264px;
}
.news__bottom__left .top__item__title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.news__bottom__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.news__bottom__right .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__bottom__right .list__header {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #162E4D;
}
.news__bottom__right .list__header__title {
  flex: 1 0 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.news__bottom__right .list__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__bottom__right .list__item img {
  width: 135px;
  height: 83px;
  object-fit: cover;
}
.news__bottom__right .list__item__title {
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.news__bottom hr {
  width: 100%;
  margin: 0;
  height: 1px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.sidebar__header {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #162E4D;
}
.sidebar__header__title {
  flex: 1 0 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.sidebar__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.sidebar__item img {
  width: 135px;
  height: 83px;
  object-fit: cover;
}
.sidebar__item__title {
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.listPosts {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.listPosts img {
  width: 32.362%;
  height: 264px;
}
.listPosts__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.listPosts__content__title {
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.listPosts__content__text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.listPosts__content__text i {
  color: #303030;
  font-family: Font Awesome 6 Free;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.listPosts__content__text span {
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.footer {
  width: 100%;
  display: flex;
  padding: 60px 40px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: #303030;
}
.footer__intro {
  width: 32.989%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer__intro h2 {
  margin: 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.footer__intro__items {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__intro__items a {
  color: #FFFFFF;
  font-family: "fw-500";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.footer__intro__items i {
  color: #FFFFFF;
  font-family: Font Awesome 6 Free;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footer__support {
  width: 32.989%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer__support h2 {
  margin: 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.footer__support__items {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__support__items a {
  color: #FFFFFF;
  font-family: "fw-500";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.footer__support__items i {
  color: #FFFFFF;
  font-family: Font Awesome 6 Free;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 20px;
}
.footer__img {
  width: 32.989%;
  align-self: stretch;
}
.footer__img img {
  width: 100%;
  height: 207px;
  object-fit: cover;
}
.footer--mt30 {
  margin-top: 30px;
}

.mainPayment {
  width: 100%;
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .ModeOfPayment {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .ModeOfPayment .ModeOfPayment-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.mainPayment .ModeOfPayment .ModeOfPayment-title p {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mainPayment .ModeOfPayment .ModeOfPayment-title h2 {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice {
  display: flex;
  width: 430px;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--hite, #FFF);
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice svg {
  width: 100%;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice a {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice p {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title h2 {
  flex: 1 0 0;
  color: #162E4C;
  font-family: fw-500;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title img {
  width: 54px;
  height: 41.929px;
  flex-shrink: 0;
  object-fit: cover;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  column-gap: 41px;
  flex-wrap: wrap;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice {
  display: flex;
  width: 430px;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 15px;
  background: var(--hite, #FFF);
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice svg {
  width: 100%;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice a {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice p {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title h2 {
  flex: 1 0 0;
  color: #162E4C;
  font-family: fw-500;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title img {
  width: 54px;
  height: 41.929px;
  flex-shrink: 0;
  object-fit: cover;
}
.mainPayment .byCash {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .byCash__title {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 15px;
  background: var(--hite, #FFF);
}
.mainPayment .wireTransfer {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .wireTransfer .wireTransferDetail {
  display: flex;
  padding: 30px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: var(--hite, #FFF);
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer {
  width: 40%;
  height: 557px;
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img {
  width: 77%;
  height: 557px;
  flex-shrink: 0;
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background {
  position: absolute;
  margin: -510px 220px;
  display: flex;
  width: 240px;
  height: 483px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(37, 37, 37, 0.6);
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background: var(--hite, #FFF);
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img i {
  color: #1ABD00;
  text-align: center;
  font-family: Font Awesome 6 Free;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img .text-status {
  color: #1ABD00;
  text-align: center;
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img .ok {
  color: var(--bleck, #303030);
  text-align: center;
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .logo {
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  border: 2px solid var(--bleck, #303030);
}
.mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .logo__img {
  width: 20%;
}
.mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .logo__illustration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .scan {
  width: 220px;
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 40px;
  border-radius: 15px;
  border: 2px solid var(--bleck, #303030);
}
.mainPayment .momo {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .momo__detail {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: var(--hite, #FFF);
}
.mainPayment .momo__detail__descript {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.mainPayment .zaloPay {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .zaloPay__detail {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: var(--hite, #FFF);
}
.mainPayment .zaloPay__detail__descript {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.mainPayment .exchangeOfGoods {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .exchangeOfGoods__detail {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: var(--hite, #FFF);
}
.mainPayment .exchangeOfGoods__detail__descript {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}

@media (max-width: 430px) {
  .mainPayment {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .ModeOfPayment {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .ModeOfPayment .ModeOfPayment-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .mainPayment .ModeOfPayment .ModeOfPayment-title p {
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .ModeOfPayment-title h2 {
    align-self: stretch;
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice {
    display: flex;
    width: 602px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--hite, #FFF);
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice svg {
    width: 100%;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice a {
    align-self: stretch;
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice p {
    align-self: stretch;
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title h2 {
    flex: 1 0 0;
    color: #162E4C;
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title img {
    width: 24px;
    height: 20px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice {
    display: flex;
    width: 602px;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--hite, #FFF);
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice svg {
    width: 100%;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice a {
    align-self: stretch;
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice p {
    align-self: stretch;
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title h2 {
    flex: 1 0 0;
    color: #162E4C;
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title img {
    width: 24px;
    height: 20px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .mainPayment .byCash {
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .byCash .byCash-title {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: var(--hite, #FFF);
  }
  .mainPayment .wireTransfer {
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .wireTransfer .wireTransferDetail {
    display: flex;
    padding: 10px;
    height: 480px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: var(--hite, #FFF);
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer {
    width: 100%;
    height: 557px;
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img {
    width: 190px;
    height: 257px;
    flex-shrink: 0;
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img img {
    width: 100%;
    height: 237px;
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background {
    position: absolute;
    margin: -227px 0 0px 88px;
    display: flex;
    width: 98px;
    height: 218px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(37, 37, 37, 0.6);
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img {
    width: 100%;
    height: 90%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: var(--hite, #FFF);
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img i {
    margin-top: 20px;
    color: #1ABD00;
    text-align: center;
    font-family: Font Awesome 6 Free;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img .text-status {
    color: #1ABD00;
    text-align: center;
    font-family: fw-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img svg {
    width: 100%;
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img .ok {
    margin-top: -20px;
    color: var(--bleck, #303030);
    text-align: center;
    font-family: fw-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer {
    width: 100%;
  }
  .mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer h2 {
    color: var(--bleck, #303030);
    text-align: center;
    font-family: fw-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer p {
    color: var(--bleck, #303030);
    text-align: center;
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .logo-illustration img {
    width: 50%;
  }
  .mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .scan img {
    width: 30%;
  }
  .mainPayment .momo {
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .momo .momoDetail {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: var(--hite, #FFF);
  }
  .mainPayment .momo .momoDetail .momo-descript {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
  }
  .mainPayment .momo .momoDetail img {
    width: 30%;
  }
  .mainPayment .zaloPay {
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .zaloPay .zaloPayDetail {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: var(--hite, #FFF);
  }
  .mainPayment .zaloPay .zaloPayDetail .zaloPayDescript {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
  }
  .mainPayment .zaloPay .zaloPayDetail img {
    width: 30%;
  }
  .mainPayment .exchangeOfGoods {
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .exchangeOfGoods .exchangeOfGoodsDetail {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: var(--hite, #FFF);
  }
  .mainPayment .exchangeOfGoods .exchangeOfGoodsDetail .exchangeOfGoodsDescript {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
  }
  .mainPayment .exchangeOfGoods .exchangeOfGoodsDetail img {
    width: 30%;
  }
}
@media (min-width: 749px) and (max-width: 1024px) {
  .mainPayment {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .ModeOfPayment {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .ModeOfPayment .ModeOfPayment-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .mainPayment .ModeOfPayment .ModeOfPayment-title p {
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .ModeOfPayment-title h2 {
    align-self: stretch;
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice {
    display: flex;
    width: 30%;
    height: 20%;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--hite, #FFF);
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice svg {
    width: 100%;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice a {
    align-self: stretch;
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice p {
    align-self: stretch;
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title h2 {
    flex: 1 0 0;
    color: #162E4C;
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title img {
    width: 24px;
    height: 20px;
    flex-shrink: 0;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice {
    display: flex;
    width: 40%;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--hite, #FFF);
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice svg {
    width: 100%;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice a {
    align-self: stretch;
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice p {
    align-self: stretch;
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title h2 {
    flex: 1 0 0;
    color: #162E4C;
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .mainPayment .ModeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title img {
    width: 24px;
    height: 20px;
    flex-shrink: 0;
  }
  .mainPayment .byCash {
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .byCash .byCash-title {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: var(--hite, #FFF);
  }
  .mainPayment .wireTransfer {
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .wireTransfer .wireTransferDetail {
    display: flex;
    padding: 10px;
    height: 480px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: var(--hite, #FFF);
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer {
    width: 100%;
    height: 557px;
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img {
    width: 190px;
    height: 257px;
    flex-shrink: 0;
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img img {
    width: 100%;
    height: 237px;
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background {
    position: absolute;
    margin: -227px 0 0px 88px;
    display: flex;
    width: 98px;
    height: 218px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(37, 37, 37, 0.6);
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img {
    width: 100%;
    height: 90%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: var(--hite, #FFF);
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img i {
    margin-top: 20px;
    color: #1ABD00;
    text-align: center;
    font-family: Font Awesome 6 Free;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img .text-status {
    color: #1ABD00;
    text-align: center;
    font-family: fw-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img svg {
    width: 100%;
  }
  .mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img .ok {
    margin-top: -20px;
    color: var(--bleck, #303030);
    text-align: center;
    font-family: fw-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer {
    width: 100%;
  }
  .mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer h2 {
    color: var(--bleck, #303030);
    text-align: center;
    font-family: fw-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer p {
    color: var(--bleck, #303030);
    text-align: center;
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .logo-illustration img {
    width: 50%;
  }
  .mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .scan img {
    width: 30%;
  }
  .mainPayment .momo {
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .momo .momoDetail {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: var(--hite, #FFF);
  }
  .mainPayment .momo .momoDetail .momo-descript {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
  }
  .mainPayment .momo .momoDetail img {
    width: 30%;
  }
  .mainPayment .zaloPay {
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .zaloPay .zaloPayDetail {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: var(--hite, #FFF);
  }
  .mainPayment .zaloPay .zaloPayDetail .zaloPayDescript {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
  }
  .mainPayment .zaloPay .zaloPayDetail img {
    width: 30%;
  }
  .mainPayment .exchangeOfGoods {
    width: 100%;
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  .mainPayment .exchangeOfGoods .exchangeOfGoodsDetail {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 15px;
    background: var(--hite, #FFF);
  }
  .mainPayment .exchangeOfGoods .exchangeOfGoodsDetail .exchangeOfGoodsDescript {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
  }
  .mainPayment .exchangeOfGoods .exchangeOfGoodsDetail img {
    width: 30%;
  }
}
.WarrantyPolicy-title {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.WarrantyPolicy-title h2 {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.WarrantyPolicy-title p {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.WarrantyPolicy-main {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.WarrantyPolicy-main h2 {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.WarrantyPolicy-main b {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.WarrantyPolicy-main ul li {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}
.WarrantyPolicy-main p {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}
.WarrantyPolicy-main .WarrantyPolicy {
  display: flex;
  width: 100%;
  align-items: flex-start;
  align-content: space-between;
  gap: 41px;
}
.WarrantyPolicy-main .WarrantyPolicy__type1 {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  border-radius: 15px;
  background: var(--hite, #FFF);
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.WarrantyPolicy-main .WarrantyPolicy__type1 h2 {
  color: #162E4C;
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex: 1 0 0;
}
.WarrantyPolicy-main .WarrantyPolicy__type1 p {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  align-self: stretch;
}
.WarrantyPolicy-main .WarrantyPolicy__type1 ul li {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  align-self: stretch;
}
.WarrantyPolicy-main .WarrantyPolicy__type1 svg {
  width: 100%;
}
.WarrantyPolicy-main .WarrantyPolicy__type2 {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  border-radius: 15px;
  background: var(--hite, #FFF);
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.WarrantyPolicy-main .WarrantyPolicy__type2 h2 {
  color: #162E4C;
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  flex: 1 0 0;
}
.WarrantyPolicy-main .WarrantyPolicy__type2 p {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  align-self: stretch;
}
.WarrantyPolicy-main .WarrantyPolicy__type2 ul li {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  align-self: stretch;
}
.WarrantyPolicy-main .WarrantyPolicy__type2 svg {
  width: 100%;
}
.WarrantyPolicy-main .brands {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.WarrantyPolicy-main .brands h2 {
  align-self: stretch;
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.WarrantyPolicy-main .brands__details {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}
.WarrantyPolicy-main .brands__details img {
  width: 10%;
  flex: 1 0 0;
}

@media (max-width: 430px) {
  .WarrantyPolicy-title {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .WarrantyPolicy-title h2 {
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
  }
  .WarrantyPolicy-title p {
    align-self: stretch;
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .WarrantyPolicy-main {
    display: flex;
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .WarrantyPolicy-main h2 {
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
  }
  .WarrantyPolicy-main b {
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-self: stretch;
  }
  .WarrantyPolicy-main ul li {
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
  }
  .WarrantyPolicy-main p {
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-self: stretch;
  }
  .WarrantyPolicy-main .WarrantyPolicy-types {
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: space-between;
    gap: 10px;
  }
  .WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type1 {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 15px;
    background: var(--hite, #FFF);
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  }
  .WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type1 h2 {
    color: #162E4C;
    font-family: fw-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex: 1 0 0;
  }
  .WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type1 p {
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    align-self: stretch;
  }
  .WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type1 ul li {
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    align-self: stretch;
  }
  .WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type1 svg {
    width: 100%;
  }
  .WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type2 {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 15px;
    background: var(--hite, #FFF);
    box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
  }
  .WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type2 h2 {
    color: #162E4C;
    font-family: fw-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex: 1 0 0;
  }
  .WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type2 p {
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    align-self: stretch;
  }
  .WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type2 ul li {
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    align-self: stretch;
  }
  .WarrantyPolicy-main .WarrantyPolicy-types .WarrantyPolicy-type2 svg {
    width: 100%;
  }
  .WarrantyPolicy-main .brands {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .WarrantyPolicy-main .brands h2 {
    align-self: stretch;
    color: var(--bleck, #303030);
    font-family: fw-500;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .WarrantyPolicy-main .brands .brands-detail {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
  }
  .WarrantyPolicy-main .brands .brands-detail img {
    width: 10%;
    flex: 1 0 0;
  }
}

/*# sourceMappingURL=main.css.map */
