@font-face {
  font-family: "fw-700";
  src: url("../font/Inter-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "fw-500";
  src: url("../font/Inter-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "fw-400";
  src: url("../font/Inter-Regular.ttf") format("truetype");
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: "fw-400";
  font-size: 14px;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: #303030;
}

body {
  padding: 0;
  margin: 0;
  background-color: #F2F2F2;
}

.prevent-scroll {
  overflow: hidden;
}

.wrapper {
  max-width: 1920px;
  margin: auto;
}

.container {
  max-width: 1400px;
  width: 1440px;
  margin: auto;
}

@media (max-width: 1490px) {
  .container {
    width: 1150px;
    max-width: 1150px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 960px;
    max-width: 960px;
  }
}
@media (max-width: 1023px) {
  .container {
    width: calc(100% - 120px);
    max-width: calc(100% - 120px);
  }
}
@media (max-width: 739px) {
  .container {
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
  }
}
@media (max-width: 1023px) {
  .hide-on-mobile-tablet {
    display: none !important;
  }
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none !important;
  }
}
/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile {
    display: none !important;
  }
}
.address {
  margin-top: 30px;
  position: relative;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
.address--nm {
  margin-top: 0;
}
.address img {
  width: 100%;
  height: 491px;
  object-fit: cover;
}
.address .addressDetails {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 349px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #303030;
  background: #FFFFFF;
}
.address .addressDetails .header {
  display: flex;
  padding: 15px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #162E4D;
  color: #FFFFFF;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.address .addressDetails .item {
  display: flex;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.address .addressDetails .item__header {
  color: #303030;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.address .addressDetails .item__content {
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}

.btn--more {
  display: flex;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #303030;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
  cursor: pointer;
}
.btn--more i {
  color: #303030;
  font-family: Font Awesome 6 Free;
  font-size: 8px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.btn--more--m40 {
  margin: 0 40px;
}
.btn--seeDetails {
  margin: 0;
  padding: 10px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border: none;
  border-radius: 8px;
  background: #162E4D;
  color: #FFFFFF;
  text-align: center;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 20px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.breadcrumb__item {
  display: flex;
  padding: 10px 20px;
  align-items: flex-start;
  color: #303030;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.breadcrumb__item:not(:last-child)::after {
  content: ">";
  padding-left: 50px;
}

.pagination {
  display: flex;
  padding: 0px 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.pagination__item {
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  background: #162E4D;
  color: #FFFFFF;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}

.navbar {
  display: flex;
  margin-top: 30px;
  padding: 20px;
  background: #162E4D;
}
.navbar a {
  color: #FFFFFF;
  padding: 10px 20px;
  text-decoration: none;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.navbar a:hover {
  color: rgba(255, 255, 255, 0.7);
}
.navbar--drop {
  cursor: pointer;
}
.navbar__sticky {
  position: sticky;
  top: -1px;
  z-index: 1;
  padding: 0;
}

.header {
  padding: 30px 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  gap: 17.391%;
}
.header .logo {
  color: #303030;
  font-family: "fw-400";
  font-size: 48px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.header .search {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #303030;
  flex: 1 0 0;
}
.header .search input {
  flex: 1 0 0;
  outline: none;
  border: none;
  background-color: #F2F2F2;
}
.header .search i {
  cursor: pointer;
}
.header .hotline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  color: #303030;
  font-family: "fw-400";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.header .hotline__number {
  color: #303030;
  font-family: "fw-400";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.header .hotline__number i {
  color: #303030;
  font-family: Font Awesome 6 Free;
  font-size: 28px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.footer {
  width: 100%;
  display: flex;
  padding: 60px 40px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: #303030;
}
.footer__intro {
  width: 32.989%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer__intro a {
  text-decoration: none;
}
.footer__intro h2 {
  margin: 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.footer__intro__items {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__intro__items a, .footer__intro__items span {
  color: #FFFFFF;
  font-family: "fw-500";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.footer__intro__items i {
  color: #FFFFFF;
  font-family: Font Awesome 6 Free;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.footer__support {
  width: 32.989%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.footer__support h2 {
  margin: 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
}
.footer__support__items {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__support__items a {
  color: #FFFFFF;
  font-family: "fw-500";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.footer__support__items i {
  color: #FFFFFF;
  font-family: Font Awesome 6 Free;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  width: 20px;
}
.footer__img {
  width: 32.989%;
  align-self: stretch;
}
.footer__img img {
  width: 100%;
  height: 207px;
  object-fit: cover;
}
.footer--mt30 {
  margin-top: 30px;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 0; /* Place the button 30px from the right */
  z-index: 1; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #162E4D; /* Set a background color */
  color: #FFFFFF; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 5px; /* Rounded corners */
  font-size: 10px; /* Increase font size */
}
#myBtn:hover {
  background-color: red;
}

.index__slideshow {
  margin-top: 30px;
  width: 100%;
  height: 540px;
  object-fit: cover;
  object-position: 0 -580px;
}
.index__produce {
  display: flex;
  padding: 0px 20px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.index__produce__menu {
  width: 13.542%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.index__produce__menu .list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #FFFFFF;
}
.index__produce__menu .list__header {
  display: flex;
  padding: 15px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 8px;
  background: #162E4D;
  color: #FFFFFF;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.index__produce__menu .list__item {
  display: flex;
  padding: 15px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-transform: capitalize;
  text-decoration: none;
}
.index__produce__listProduct {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  flex: 1 0 0;
  background: #FFFFFF;
}
.index__produce__listProduct .filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.index__produce__listProduct .filter__box {
  display: flex;
  padding: 15px 20px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #162E4D;
  color: #FFFFFF;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.index__produce__listProduct .filter__box i {
  color: #FFFFFF;
  font-family: Font Awesome 6 Free;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.index__produce__listProduct .displayProduct {
  padding: 0 20px;
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: repeat(5, minmax(0, 1fr));
  row-gap: 20px;
  column-gap: 20px;
}
.index__produce__listProduct .productCard {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #303030;
}
.index__produce__listProduct .productCard a {
  width: 100%;
}
.index__produce__listProduct .productCard img {
  width: 100%;
  height: 240px;
}
.index__produce__listProduct .productCard .productInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: stretch;
}
.index__produce__listProduct .productCard .productInfo__des {
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  height: 80px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.index__produce__listProduct .productCard .productInfo__price {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.index__produce__listProduct .productCard .productInfo__price--new {
  color: #FF0000;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: 20px;
}
.index__produce__listProduct .productCard .productInfo__price--old {
  flex: 1 0 0;
  color: #FF0000;
  text-align: right;
  font-family: "fw-700";
  font-size: 12px;
  font-style: normal;
  line-height: 20px;
  text-decoration: line-through;
}
@media (min-width: 1336px) and (max-width: 1450px) {
  .index__slideshow {
    object-position: 0 -400px;
    height: 400px;
  }
  .index__produce__listProduct .displayProduct {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .index__produce__listProduct .productCard img {
    height: auto;
  }
  .index__produce__listProduct .productCard .productInfo__des {
    font-size: 13.6px;
  }
  .index__produce__listProduct .productCard .productInfo__price--new {
    font-size: 15px;
  }
}
@media (min-width: 1450px) and (max-width: 1550px) {
  .index__produce__listProduct .displayProduct {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .index__produce__listProduct .productCard img {
    height: auto;
  }
  .index__produce__listProduct .productCard .productInfo__des {
    font-size: 13.6px;
  }
  .index__produce__listProduct .productCard .productInfo__price--new {
    font-size: 18px;
  }
}
@media (min-width: 1550px) and (max-width: 1758px) {
  .index__slideshow {
    object-position: 0 -460px;
  }
  .index__produce__listProduct .displayProduct {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .index__produce__listProduct .productCard img {
    height: auto;
  }
  .index__produce__listProduct .productCard .productInfo__des {
    font-size: 13.6px;
  }
  .index__produce__listProduct .productCard .productInfo__price {
    align-items: baseline;
  }
  .index__produce__listProduct .productCard .productInfo__price--new {
    font-size: 13px;
  }
}

.news__top {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__top__left {
  width: 49.511%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__top__left img {
  width: 100%;
  height: 540px;
}
.news__top__left .title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  text-decoration: none;
  font-style: normal;
  line-height: normal;
}
.news__top__left .text {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.news__top__center {
  width: 24.13%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__top__center .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__top__center .item a {
  width: 100%;
}
.news__top__center .item img {
  width: 100%;
  height: 264px;
}
.news__top__center .item__title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  text-decoration: none;
  font-style: normal;
  line-height: normal;
}
.news__top__right {
  width: 24.185%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__top__right .header {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #162E4D;
}
.news__top__right .header__text {
  flex: 1 0 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.news__top__right .item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__top__right .item img {
  width: 135px;
  height: 83px;
}
.news__top__right .item__title {
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.news__bottom {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__bottom__left {
  width: 74.565%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__bottom__left .top {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
}
.news__bottom__left .top__item {
  width: 32.362%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.news__bottom__left .top__item img {
  width: 100%;
  height: 264px;
}
.news__bottom__left .top__item__title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.news__bottom__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.news__bottom__right .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__bottom__right .list__header {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #162E4D;
}
.news__bottom__right .list__header__title {
  flex: 1 0 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.news__bottom__right .list__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.news__bottom__right .list__item img {
  width: 135px;
  height: 83px;
  object-fit: cover;
}
.news__bottom__right .list__item__title {
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}
.news__bottom hr {
  width: 100%;
  margin: 0;
  height: 1px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.sidebar__header {
  display: flex;
  padding: 30px 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  background: #162E4D;
}
.sidebar__header__title {
  flex: 1 0 0;
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.sidebar__item {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.sidebar__item img {
  width: 135px;
  height: 83px;
  object-fit: cover;
}
.sidebar__item__title {
  flex: 1 0 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}

.listPosts {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.listPosts a.image {
  width: 32.362%;
}
.listPosts a.image img {
  width: 100%;
  height: 264px;
}
.listPosts__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.listPosts__content__title {
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.listPosts__content__text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.listPosts__content__text i {
  color: #303030;
  font-family: Font Awesome 6 Free;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.listPosts__content__text span {
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.newsDetails {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.newsDetails__left {
  width: 74.565%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.newsDetails__left .title {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.newsDetails__left .title--small {
  color: #303030;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.newsDetails__left .text {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
}
.newsDetails__left img {
  height: 800px;
  width: 100%;
  align-self: stretch;
}
.newsDetails__left hr {
  width: 100%;
  margin: 0;
  height: 1px;
}
.newsDetails__right {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.mainPayment .modeOfPayment {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .modeOfPayment__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.mainPayment .modeOfPayment__title p {
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  margin: 0;
}
.mainPayment .modeOfPayment__title h2 {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
  margin: 0;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-1 .paymentChoice {
  display: flex;
  width: 32.717%;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.mainPayment .modeOfPayment .paymentMutipleChoices-1 .paymentChoice svg {
  width: 100%;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-1 .paymentChoice a {
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: italic;
  line-height: normal;
  text-decoration: none;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-1 .paymentChoice p {
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  margin: 0;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title h2 {
  flex: 1 0 0;
  color: #162E4D;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
  margin: 0;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title img {
  width: 54px;
  height: 41.929px;
  flex-shrink: 0;
  object-fit: cover;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-2 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  column-gap: 41px;
  flex-wrap: wrap;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-2 .paymentChoice {
  display: flex;
  width: 32.717%;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.mainPayment .modeOfPayment .paymentMutipleChoices-2 .paymentChoice svg {
  width: 100%;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-2 .paymentChoice a {
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: italic;
  line-height: normal;
  text-decoration: none;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-2 .paymentChoice p {
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  margin: 0;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title h2 {
  flex: 1 0 0;
  color: #162E4D;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
  margin: 0;
}
.mainPayment .modeOfPayment .paymentMutipleChoices-2 .paymentChoice .paymentChoice-title img {
  width: 54px;
  height: 41.929px;
  flex-shrink: 0;
  object-fit: cover;
}
.mainPayment .byCash {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .byCash__title {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-radius: 15px;
  background: #FFFFFF;
}
.mainPayment .byCash__title h2 {
  margin: 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.mainPayment .byCash__title p {
  margin: 0;
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.mainPayment .wireTransfer {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .wireTransfer .wireTransferDetail {
  display: flex;
  padding: 30px;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: #FFFFFF;
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer {
  width: 40%;
  height: 557px;
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img {
  width: 77%;
  height: 557px;
  flex-shrink: 0;
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background {
  position: absolute;
  margin: -510px 220px;
  display: flex;
  width: 240px;
  height: 483px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 30px;
  background: rgba(37, 37, 37, 0.6);
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background: #FFFFFF;
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img i {
  color: #1ABD00;
  text-align: center;
  font-family: Font Awesome 6 Free;
  font-size: 80px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img .text-status {
  color: #1ABD00;
  text-align: center;
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainPayment .wireTransfer .wireTransferDetail .thumbnail-wireTransfer .img .wireTransfer-thumbnail-background .wireTransfer-img .ok {
  color: var(--bleck, #303030);
  text-align: center;
  font-family: fw-500;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .logo {
  display: flex;
  padding: 20px;
  margin-top: 20px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  border: 2px solid var(--bleck, #303030);
}
.mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .logo__img {
  width: 20%;
}
.mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .logo__illustration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .logo__illustration h2 {
  margin: 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 32px;
  font-style: normal;
  line-height: normal;
}
.mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .logo__illustration p {
  margin: 0;
  color: #303030;
  font-family: "fw-400";
  font-size: 24px;
  font-style: normal;
  line-height: 32px;
}
.mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer .scan {
  width: 220px;
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 40px;
  border-radius: 15px;
  border: 2px solid var(--bleck, #303030);
}
.mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer h2 {
  margin: 20px 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.mainPayment .wireTransfer .wireTransferDetail .descript-wireTransfer p {
  margin: 0;
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}
.mainPayment .momo {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .momo__detail {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: #FFFFFF;
}
.mainPayment .momo__detail__descript {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.mainPayment .momo__detail__descript h2 {
  margin: 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.mainPayment .momo__detail__descript p, .mainPayment .momo__detail__descript b {
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
}
.mainPayment .zaloPay {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .zaloPay__detail {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: #FFFFFF;
}
.mainPayment .zaloPay__detail__descript {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.mainPayment .zaloPay__detail__descript h2 {
  margin: 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.mainPayment .zaloPay__detail__descript p, .mainPayment .zaloPay__detail__descript b {
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
}
.mainPayment .exchangeOfGoods {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  align-self: stretch;
}
.mainPayment .exchangeOfGoods__detail {
  display: flex;
  padding: 30px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  border-radius: 15px;
  background: #FFFFFF;
}
.mainPayment .exchangeOfGoods__detail__descript {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
}
.mainPayment .exchangeOfGoods__detail__descript h2 {
  margin: 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
}
.mainPayment .exchangeOfGoods__detail__descript p, .mainPayment .exchangeOfGoods__detail__descript b {
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
}
@media (min-width: 1450px) and (max-width: 1550px) {
  .mainPayment .modeOfPayment .paymentMutipleChoices-1 .paymentChoice .paymentChoice-title {
    height: 56px;
  }
}

.videoPage {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.videoPage .category-video {
  display: flex;
  padding: 0px 40px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.videoPage .category-video__background {
  display: flex;
  padding: 10px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #162E4D;
  background-color: #162E4D;
}
.videoPage .category-video__background a {
  color: #FFFFFF;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.videoPage .category-video__background1 {
  display: flex;
  padding: 10px 30px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #162E4D;
  background-color: #FFFFFF;
}
.videoPage .category-video__background1 a {
  color: #303030;
  font-family: fw-500;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}
.videoPage .category-video__background:hover {
  background-color: white;
}
.videoPage .category-video__background:hover a {
  color: var(--bleck, #303030);
}
.videoPage .videos__details a img:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.videos {
  display: flex;
  width: 100%;
  padding: 0px 38px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 40px;
  flex-wrap: wrap;
}
.videos .details {
  width: 24.078%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.videos .details a {
  width: 100%;
}
.videos .details a img {
  width: 100%;
  height: 264px;
  object-fit: cover;
}
.videos .details__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.videos .details__content a {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  align-self: stretch;
  text-decoration: none;
}
.videos .details__content__text {
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}
.videos .details p {
  color: #303030;
  font-family: "fw-400";
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  align-self: stretch;
}

.videoIsViewing {
  width: 100%;
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.videoIsViewing__main {
  display: flex;
  width: 57.663%;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.videoIsViewing__main img {
  width: 100%;
}
.videoIsViewing__main h2 {
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  align-self: stretch;
  margin: 0;
}
.videoIsViewing__main p {
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  align-self: stretch;
  margin: 0;
}
.videoIsViewing__timeLines {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}
.videoIsViewing__timeLines__details {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 20px;
}
.videoIsViewing__timeLines__details a {
  width: 38.998%;
}
.videoIsViewing__timeLines__details a img {
  width: 100%;
}
.videoIsViewing__timeLines__details .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
}
.videoIsViewing__timeLines__details .title a {
  width: 100%;
  text-decoration: none;
}
.videoIsViewing__timeLines__details .title a h2 {
  color: #303030;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  align-self: stretch;
  margin: 0;
}
.videoIsViewing__timeLines__details .title p {
  color: #303030;
  font-family: "fw-400";
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  flex: 1 0 0;
  margin: 0;
}

.moreVideo-title {
  display: flex;
  padding: 30px 40px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.moreVideo-title h2 {
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  flex: 1 0 0;
  margin: 0;
}

.videos {
  display: flex;
  width: 100%;
  padding: 0px 38px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 40px;
  flex-wrap: wrap;
}
.videos__details {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.videos__details a {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: stretch;
}
.videos__details a img {
  width: 344px;
  height: 264px;
  object-fit: cover;
}
.videos__details p {
  color: var(--bleck, #303030);
  font-family: fw-500;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
}

.warrantyPolicy-title {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.warrantyPolicy-title h2 {
  margin: 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
  align-self: stretch;
}
.warrantyPolicy-title p {
  margin: 0;
  align-self: stretch;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
}

.warrantyPolicy-main {
  display: flex;
  padding: 0px 40px;
  margin-top: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.warrantyPolicy-main h2 {
  margin: 0;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  align-self: stretch;
}
.warrantyPolicy-main .bold, .warrantyPolicy-main .bold--16 {
  color: #303030;
  font-family: "fw-700";
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  align-self: stretch;
}
.warrantyPolicy-main .bold--16 {
  font-size: 16px;
}
.warrantyPolicy-main ul {
  margin: 0;
  padding-left: 17px;
}
.warrantyPolicy-main ul li {
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  align-self: stretch;
}
.warrantyPolicy-main p {
  margin: 0;
  color: #303030;
  font-family: "fw-400";
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  align-self: stretch;
}
.warrantyPolicy-main .warrantyPolicy {
  display: flex;
  width: 100%;
  align-items: flex-start;
  align-content: space-between;
  gap: 41px;
}
.warrantyPolicy-main .warrantyPolicy__type1 {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.warrantyPolicy-main .warrantyPolicy__type1 h2 {
  margin: 0;
  color: #162E4D;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
  flex: 1 0 0;
}
.warrantyPolicy-main .warrantyPolicy__type1 p {
  margin: 0;
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  align-self: stretch;
}
.warrantyPolicy-main .warrantyPolicy__type1 ul li {
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  align-self: stretch;
}
.warrantyPolicy-main .warrantyPolicy__type1 svg {
  width: 100%;
}
.warrantyPolicy-main .warrantyPolicy__type2 {
  display: flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  border-radius: 15px;
  background: #FFFFFF;
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.warrantyPolicy-main .warrantyPolicy__type2 h2 {
  margin: 0;
  color: #162E4D;
  font-family: "fw-700";
  font-size: 28px;
  font-style: normal;
  line-height: normal;
  flex: 1 0 0;
}
.warrantyPolicy-main .warrantyPolicy__type2 p {
  margin: 0;
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  align-self: stretch;
}
.warrantyPolicy-main .warrantyPolicy__type2 ul li {
  color: #303030;
  font-family: "fw-400";
  font-size: 18px;
  font-style: normal;
  line-height: 28px;
  align-self: stretch;
}
.warrantyPolicy-main .warrantyPolicy__type2 svg {
  width: 100%;
}
.warrantyPolicy-main .brands {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
.warrantyPolicy-main .brands h2 {
  align-self: stretch;
  color: #303030;
  font-family: "fw-700";
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
.warrantyPolicy-main .brands__details {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}
.warrantyPolicy-main .brands__details img {
  width: 10%;
  flex: 1 0 0;
}

/*# sourceMappingURL=main.css.map */
