.index {
  &__slideshow {
    margin-top: 30px;
    width: 100%;
    height: 540px;
    object-fit: cover;
  }
  &__produce {
    display: flex;
    padding: 0px 20px;
    margin-top: 30px;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    &__menu{
      width: 13.542%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      .list {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: $white-color;
        &__header {
          display: flex;
          padding: 15px 20px;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;
          border-radius: 8px;
          background: $main-color-blue;
          color: $white-color;
          font-family: "fw-400";
          font-size: 18px;
          font-style: normal;
          line-height: normal;
        }
        &__item {
          display: flex;
          padding: 15px 20px;
          align-items: flex-start;
          gap: 10px;
          align-self: stretch;
          color: $black-color;
          font-family: "fw-400";
          font-size: 18px;
          font-style: normal;
          line-height: normal;
          text-transform: capitalize;
          text-decoration: none;
        }
      }
    }
    &__listProduct {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      flex: 1 0 0;
      background: $white-color;
      .filter {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        &__box {
          display: flex;
          padding: 15px 20px;
          justify-content: flex-end;
          align-items: center;
          gap: 10px;
          border-radius: 8px;
          background: $main-color-blue;
          color: $white-color;
          font-family: "fw-400";
          font-size: 18px;
          font-style: normal;
          line-height: normal;
          i {
            color: $white-color;
            font-family: Font Awesome 6 Free;
            font-size: 12px;
            font-style: normal;
            font-weight: 900;
            line-height: normal;
          }
        }
      }
      .displayProduct {
        padding: 0 20px;
        display: grid;
        grid-auto-rows: minmax(min-content, max-content);
        grid-template-columns: repeat(5, minmax(0, 1fr));
        row-gap: 20px;
        column-gap: 20px;
      }
      .productCard {
        display: flex;
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        border-radius: 8px;
        border: 1px solid $black-color;
        a {
          width: 100%;
        }
        img {
          width: 100%;
          height: 240px;
        }
        .productInfo {
          display: flex;
          flex-direction: column;
          gap: 20px;
          align-self: stretch;
          &__des {
            color: $black-color;
            font-family: "fw-400";
            font-size: 14px;
            font-style: normal;
            line-height: 20px;
            height: 80px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            overflow: hidden;
          }
          &__price {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            &--new {
              color: $red-color;
              font-family: "fw-700";
              font-size: 18px;
              font-style: normal;
              line-height: 20px; 
            }
            &--old {
              flex: 1 0 0;
              color: $red-color;
              text-align: right;
              font-family: "fw-700";
              font-size: 12px;
              font-style: normal;
              line-height: 20px;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
  @include sm-desk {
    &__slideshow {
      object-position: 0 -400px;
      height: 400px;
    }
    &__produce {
      &__listProduct {
        .displayProduct {
          grid-template-columns: repeat(4, minmax(0, 1fr));
        }
        .productCard {
          img {
            height: auto;
          }
          .productInfo__des {
            font-size: 13.6px;
          }
          .productInfo {
            &__price {
              &--new {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
  @include md-desk {
    &__produce {
      &__listProduct {
        .displayProduct {
          grid-template-columns: repeat(4, minmax(0, 1fr));
        }
        .productCard {
          img {
            height: auto;
          }
          .productInfo__des {
            font-size: 13.6px;
          }
          .productInfo {
            &__price {
              &--new {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
  @include lg-desk {
    &__slideshow {
      object-position: 0 -460px;
    }
    &__produce {
      &__listProduct {
        .displayProduct {
          grid-template-columns: repeat(5, minmax(0, 1fr));
        }
        .productCard {
          img {
            height: auto;
          }
          .productInfo__des {
            font-size: 13.6px;
          }
          .productInfo {
            &__price {
              align-items: baseline;
              &--new {
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}
