.mainPayment {
  .modeOfPayment {
    display: flex;
    padding: 0px 40px;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
    &__title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      align-self: stretch;
      p {
        color: $black-color;
        font-family: "fw-400";
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        margin: 0;
      }
      h2 {
        align-self: stretch;
        color: $black-color;
        font-family: "fw-700";
        font-size: 28px;
        font-style: normal;
        line-height: normal;
        margin: 0;
      }
    }
    .paymentMutipleChoices-1 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: flex-start;
      align-content: space-between;
      flex-wrap: wrap;
      .paymentChoice {
        display: flex;
        width: 32.717%;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex-shrink: 0;
        border-radius: 15px;
        background: $white-color;
        box-shadow: $shadow-box;

        svg {
          width: 100%;
        }

        a {
          color: $black-color;
          font-family: "fw-400";
          font-size: 18px;
          font-style: italic;
          line-height: normal;
          text-decoration: none;
        }


        p {
          color: $black-color;
          font-family: "fw-400";
          font-size: 18px;
          font-style: normal;
          line-height: normal;
          margin: 0;
        }

        .paymentChoice-title {
          display: flex;
          align-items: center;
          gap: 20px;
          align-self: stretch;

          h2 {
            flex: 1 0 0;
            color: $main-blue-color;
            font-family: "fw-700";
            font-size: 28px;
            font-style: normal;
            line-height: normal;
            margin: 0;
          }

          img {
            width: 54px;
            height: 41.929px;
            flex-shrink: 0;
            object-fit: cover;
          }
        }
      }
    }
    .paymentMutipleChoices-2 {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: flex-start;
      align-content: space-between;
      column-gap: 41px;
      flex-wrap: wrap;
      .paymentChoice {
        display: flex;
        width: 32.717%;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex-shrink: 0;
        border-radius: 15px;
        background: $white-color;
        box-shadow: $shadow-box;
        svg {
          width: 100%;
        }
        a {
          color: $black-color;
          font-family: "fw-400";
          font-size: 18px;
          font-style: italic;
          line-height: normal;
          text-decoration: none;
        }
        p {
          color: $black-color;
          font-family: "fw-400";
          font-size: 18px;
          font-style: normal;
          line-height: normal;
          margin: 0;
        }
        .paymentChoice-title {
          display: flex;
          align-items: center;
          gap: 20px;
          align-self: stretch;
          h2 {
            flex: 1 0 0;
            color: $main-blue-color;
            font-family: "fw-700";
            font-size: 28px;
            font-style: normal;
            line-height: normal;
            margin: 0;
          }
          img {
            width: 54px;
            height: 41.929px;
            flex-shrink: 0;
            object-fit: cover;
          }
        }
      }
    }
  }
  .byCash {
    display: flex;
    padding: 0px 40px;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
    &__title {
      display: flex;
      flex-direction: column;
      padding: 30px;
      align-items: flex-start;
      gap: 20px;
      align-self: stretch;
      border-radius: 15px;
      background: $white-color;
      h2 {
        margin: 0;
        color: $black-color;
        font-family: "fw-700";
        font-size: 28px;
        font-style: normal;
        line-height: normal;
      }
      p {
        margin: 0;
        color: $black-color;
        font-family: "fw-400";
        font-size: 18px;
        font-style: normal;
        line-height: normal;
      }
    }
  }
  .wireTransfer {
    display: flex;
    padding: 0px 40px;
    margin-top: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
    .wireTransferDetail {
      display: flex;
      padding: 30px;
      align-items: flex-start;
      gap: 40px;
      align-self: stretch;
      border-radius: 15px;
      background: $white-color;
      .thumbnail-wireTransfer {
        width: 40%;
        height: 557px;
        .img {
          width: 77%;
          height: 557px;
          flex-shrink: 0;
          .wireTransfer-thumbnail-background {
            position: absolute;
            margin: -510px 220px;
            display: flex;
            width: 240px;
            height: 483px;
            padding: 10px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 30px;
            background: rgba(37, 37, 37, 0.60);
            .wireTransfer-img {
              display: flex;
              padding: 30px;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 20px;
              border-radius: 15px;
              background: $white-color;
              i {
                color: #1ABD00;
                text-align: center;
                font-family: Font Awesome 6 Free;
                font-size: 80px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
              }
              .text-status {
                color: #1ABD00;
                text-align: center;
                font-family: fw-500;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
              .ok {
                color: var(--bleck, #303030);
                text-align: center;
                font-family: fw-500;
                font-size: 28px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
              }
            }
          }
        }
      }
      .descript-wireTransfer {
        .logo {
          display: flex;
          padding: 20px;
          margin-top: 20px;
          align-items: center;
          gap: 40px;
          align-self: stretch;
          border-radius: 15px;
          border: 2px solid var(--bleck, #303030);
          &__img {
            width: 20%;
          }
          &__illustration {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            flex: 1 0 0;
            h2 {
              margin: 0;
              color: $black-color;
              font-family: "fw-700";
              font-size: 32px;
              font-style: normal;
              line-height: normal;
            }
            p {
              margin: 0;
              color: $black-color;
              font-family: "fw-400";
              font-size: 24px;
              font-style: normal;
              line-height: 32px; 
            }
          }
        }
        .scan {
          width: 220px;
          display: flex;
          padding: 20px;
          align-items: center;
          gap: 40px;
          border-radius: 15px;
          border: 2px solid var(--bleck, #303030);
        }
        h2 {
          margin: 20px 0;
          color: $black-color;
          font-family: "fw-700";
          font-size: 28px;
          font-style: normal;
          line-height: normal;
        }
        p {
          margin: 0;
          color: $black-color;
          font-family: "fw-400";
          font-size: 18px;
          font-style: normal;
          line-height: normal;
        }
      }
    }
  }
  .momo {
    display: flex;
    padding: 0px 40px;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
    &__detail {
      display: flex;
      padding: 30px;
      align-items: center;
      gap: 40px;
      align-self: stretch;
      border-radius: 15px;
      background: $white-color;

      &__descript {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex: 1 0 0;
        h2 {
          margin: 0;
          color: $black-color;
          font-family: "fw-700";
          font-size: 28px;
          font-style: normal;
          line-height: normal;
        }
        p, b {
          color: $black-color;
          font-family: "fw-400";
          font-size: 18px;
          font-style: normal;
          line-height: 28px; 
        }
      }
    }
  }
  .zaloPay {
    display: flex;
    padding: 0px 40px;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
    &__detail {
      display: flex;
      padding: 30px;
      align-items: center;
      gap: 40px;
      align-self: stretch;
      border-radius: 15px;
      background: $white-color;
      &__descript {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex: 1 0 0;
        h2 {
          margin: 0;
          color: $black-color;
          font-family: "fw-700";
          font-size: 28px;
          font-style: normal;
          line-height: normal;
        }
        p, b {
          color: $black-color;
          font-family: "fw-400";
          font-size: 18px;
          font-style: normal;
          line-height: 28px; 
        }
      }
    }
  }
  .exchangeOfGoods {
    display: flex;
    padding: 0px 40px;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
    &__detail {
      display: flex;
      padding: 30px;
      align-items: center;
      gap: 40px;
      align-self: stretch;
      border-radius: 15px;
      background: $white-color;
      &__descript {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex: 1 0 0;
        h2 {
          margin: 0;
          color: $black-color;
          font-family: "fw-700";
          font-size: 28px;
          font-style: normal;
          line-height: normal;
        }
        p, b {
          color: $black-color;
          font-family: "fw-400";
          font-size: 18px;
          font-style: normal;
          line-height: 28px; 
        }
      }
    }
  }
  @include md-desk {
    .modeOfPayment {
      .paymentMutipleChoices-1 {
        .paymentChoice {
          .paymentChoice-title {
            height: 56px;
          }
        } 
      } 
    }
  }
}

//for mobile 
@include media(sm-mobile, md-mobile, lg-mobile) {
  .mainPayment {
    width: 100%;
    display: flex;
    padding: 0px 10px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    .modeOfPayment {
      width: 100%;
      padding: 0;
      gap: 30px;
      &__title {
        gap: 0px;
        p {
          font-size: 14px;
        }
        h2 {
          width: 100%;
          font-size: 18px;
        }
      }
      .paymentMutipleChoices-1 {
        flex-direction: column;
        gap: 10px;
        .paymentChoice {
          width: 100%;
          a {
            font-size: 14px;
          }
          p {
            font-size: 14px;
          }
          .paymentChoice-title {
            display: flex;
            align-items: center;
            gap: 20px;
            align-self: stretch;
            h2 {
              font-size: 18px;
            }
          }
        }
  
      }
      .paymentMutipleChoices-2 {
        flex-direction: column;
        column-gap: 0;
        gap: 10px;
        .paymentChoice {
          width: 100%;
          a {
            font-size: 14px;
          }
          p {
            font-size: 14px;
          }
          .paymentChoice-title {
            h2 {
              font-size: 18px;
            }
            img {
            }
          }
        }
      }
    }
    .byCash {
      width: 100%;
      padding: 0;
      gap: 20px;
      &__title {
        width: 100%;
        padding: 20px;
        gap: 10px;
        h2 {
          font-size: 18px;
        }
        p {
          font-size: 14px;
        }
      }
    }
    .wireTransfer {
      width: 100%;
      padding: 0;
      .wireTransferDetail {
        flex-direction: column;
        padding: 0;
        gap: 50px;
        .thumbnail-wireTransfer {
          width: 100%;
          height: 247px;
          padding: 0px 20%;
          .img {
            width: 190px;
            height: 257px;
            img {
              width: 100%;
              height: 237px;
            }
            .wireTransfer-thumbnail-background {
              position: absolute;
              margin: -227px 0 0 88px;
              width: 98px;
              height: 218px;
              border-radius: 20px;
              .wireTransfer-img {
                width: 100%;
                height: 85%;
                padding: 10px;
                gap: 10px;
                i {
                  margin-top: 20px;
                  font-size: 40px;
                }
                .text-status {
                  font-size: 14px;
                }
                .ok {
                  margin-top: -20px;
                  font-size: 14px;
                }
              }
            }
          }
        }
        .descript-wireTransfer {
          width: 100%;
          padding-bottom: 20px;
          .logo {
            &__img {
              width: 30%;
              height: 100px;
            }
            &__illustration {
              h2 {
                font-size: 18px;
              }
              p {
                font-size: 14px;
                line-height: 14px;
              }
            }
          }
          .scan {
            width: 140px;

            img {
              width: 100px;
            }
          }
          h2 {
            font-size: 18px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
    .momo {
      width: 100%;
      padding: 0px 20px;
      gap: 20px;
      &__detail {
        padding: 10px;
        gap: 10px;
        &__descript {
          h2 {
            font-size: 20px;
          }
          p, b {
            color: $black-color;
            font-family: "fw-400";
            font-size: 18px;
            font-style: normal;
            line-height: 28px; 
          }
        }
        img {
          width: 20%;
          object-fit: cover;
        }
      }
    }
    .zaloPay {
      width: 100%;
      padding: 0px 20px;
      gap: 20px;
      &__detail {
        padding: 10px;
        gap: 10px;
        &__descript {
          h2 {
            font-size: 20px;
          }
          p, b {
            color: $black-color;
            font-family: "fw-400";
            font-size: 18px;
            font-style: normal;
            line-height: 28px; 
          }
        }
        img {
          width: 20%;
          object-fit: cover;
        }
      }
    }
    .exchangeOfGoods {
      width: 100%;
      padding: 0px 20px;
      gap: 20px;
      &__detail {
        padding: 10px;
        gap: 10px;
        &__descript {
          h2 {
            font-size: 20px;
          }
          p, b {
            color: $black-color;
            font-family: "fw-400";
            font-size: 18px;
            font-style: normal;
            line-height: 28px; 
          }
        }
        img {
          width: 20%;
          object-fit: cover;
        }
      }
    }
  }
}

//for tablet
@include media(sm-tablet, md-tablet, lg-tablet) {
  .mainPayment {
    .modeOfPayment {
      width: 100%;
      padding: 0;
      gap: 30px;
      &__title {
        gap: 0;
        p {
          width: 100%;
          font-size: 14px;
        }
        h2 {
          width: 100%;
          font-size: 18px;
        }
      }
      .paymentMutipleChoices-1 {
        flex-direction: column;
        gap: 10px;
        .paymentChoice {
          width: 100%;
          a {
            font-size: 14px;
          }
          p {
            align-self: stretch;
            font-size: 14px;
          }
          .paymentChoice-title {
            display: flex;
            align-items: center;
            gap: 20px;
            align-self: stretch;
            h2 {
              font-size: 20px;
            }
          }
        }
      }
      .paymentMutipleChoices-2 {
        flex-direction: column;
        column-gap: 0;
        gap: 10px;
        .paymentChoice {
          width: 100%;
          a {
            font-size: 14px;
          }
          p {
            font-size: 14px;
          }
          .paymentChoice-title {
            h2 {
              font-size: 20px;
            }
          }
        }
      }
    }
    .byCash {
      width: 100%;
      display: flex;
      padding: 0px;
      gap: 20px;
      &__title { //?
        padding: 20px;
        gap: 10px;
        h2 {
          margin: 0;
          color: $black-color;
          font-family: "fw-700";
          font-size: 28px;
          font-style: normal;
          line-height: normal;
        }
        p {
          margin: 0;
          color: $black-color;
          font-family: "fw-400";
          font-size: 18px;
          font-style: normal;
          line-height: normal;
        }
      }
    }
    .wireTransfer {
      width: 100%;
      padding: 0px;
      margin-top: 30px;
      .wireTransferDetail {
        padding: 0;
        gap: 20px;
        .thumbnail-wireTransfer {
          width: 30%;
          padding: 20px;
          .img {
            width: 190px;
            height: 257px;
            img {
              width: 100%;
              height: 237px;
            }
            .wireTransfer-thumbnail-background {
              margin: -227px 0 0 88px;
              width: 98px;
              height: 218px;
              border-radius: 20px;
              .wireTransfer-img {
                width: 100%;
                height: 85%;
                padding: 10px;
                gap: 10px;
                i {
                  margin-top: 20px;
                  font-size: 40px;
                }
                .text-status {
                  font-size: 14px;
                }
                .ok {
                  margin-top: -20px;
                  font-size: 14px;
                }
              }
            }
          }
        }
        .descript-wireTransfer {
          width: 70%;
          padding-bottom: 10px;
          .logo {
            &__img {
              width: 30%;
              height: 100px;
            }
            &__illustration { //?
              h2 {
                margin: 0;
                color: $black-color;
                font-family: "fw-700";
                font-size: 32px;
                font-style: normal;
                line-height: normal;
              }
              p {
                margin: 0;
                color: $black-color;
                font-family: "fw-400";
                font-size: 24px;
                font-style: normal;
                line-height: 32px; 
              }
            }
          }
          .scan { //?
            width: 140px;
            img {
              width: 100px;
            }
          }
          h2 {
            margin: 20px 0;
            color: $black-color;
            font-family: "fw-700";
            font-size: 28px;
            font-style: normal;
            line-height: normal;
          }
          p {
            margin: 0;
            color: $black-color;
            font-family: "fw-400";
            font-size: 18px;
            font-style: normal;
            line-height: normal;
          }
        }
      }
    }
    .momo {
      width: 100%;
      padding: 0px 20px;
      gap: 20px;
      &__detail {
        padding: 10px;
        gap: 10px;
        &__descript { //?
          h2 {
            margin: 0;
            color: $black-color;
            font-family: "fw-700";
            font-size: 28px;
            font-style: normal;
            line-height: normal;
          }
          p, b {
            color: $black-color;
            font-family: "fw-400";
            font-size: 18px;
            font-style: normal;
            line-height: 28px; 
          }
        }
        img {
          width: 20%;
          object-fit: cover;
        }
      }
    }
    .zaloPay {
      width: 100%;
      padding: 0px 20px;
      gap: 20px;
      &__detail {
        padding: 10px;
        gap: 10px;
        &__descript { //?
          h2 {
            margin: 0;
            color: $black-color;
            font-family: "fw-700";
            font-size: 28px;
            font-style: normal;
            line-height: normal;
          }
          p, b {
            color: $black-color;
            font-family: "fw-400";
            font-size: 18px;
            font-style: normal;
            line-height: 28px; 
          }
        }
        img {
          width: 20%;
          object-fit: cover;
        }
      }
    }
    .exchangeOfGoods {
      width: 100%;
      padding: 0px 20px;
      gap: 20px;
      &__detail {
        padding: 10px;
        gap: 10px;
        &__descript { //?
          h2 {
            margin: 0;
            color: $black-color;
            font-family: "fw-700";
            font-size: 28px;
            font-style: normal;
            line-height: normal;
          }
          p, b {
            color: $black-color;
            font-family: "fw-400";
            font-size: 18px;
            font-style: normal;
            line-height: 28px; 
          }
        }
        img {
          width: 20%;
          object-fit: cover;
        }
      }
    }
  }
}
