.videoPage {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  .category-video {
    display: flex;
    padding: 0px 40px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    &__background {
      display: flex;
      padding: 10px 30px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 100px;
      border: 1px solid $main-blue-color;
      background-color: $main-blue-color;


      a {
        color: $white-color;
        font-family: "fw-700";
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        text-decoration: none;
      }
    }

    &__background1 {
      display: flex;
      padding: 10px 30px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 100px;
      border: 1px solid $main-blue-color;
      background-color: $white-color;

      a {
        color: #303030;
        font-family: fw-500;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-decoration: none;
      }
    }
  }



  .category-video {
    &__background:hover {
      background-color: white;

      a {
        color: var(--bleck, #303030);
      }
    }
  }

  .videos {
    &__details {
      a {
        img:hover {
          transform: scale(1.1);
          transition: transform .2s;
        }
      }
    }
  }
}

.videos {
  display: flex;
  width: 100%;
  padding: 0px 38px;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 40px;
  flex-wrap: wrap;

  .details {
    width: 24.078%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    a {
      position: relative;
      width: 100%;
      img {
        width: 100%;
        height: 264px;
        object-fit: cover;
      }
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 264px;
        background:  rgba(8, 8, 8, 0.801);
        text-align: center;
        opacity: 0;
        &::after {
          content: "\f04b";
          font-family: FontAwesome;
          font-weight: normal;
          font-style: normal;
          font-size: 100px;
          line-height: 264px;
          color: $white-color;
        }
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;
      a {
        align-self: stretch;
        color: $black-color;
        font-family: "fw-700";
        font-size: 24px;
        font-style: normal;
        line-height: normal;
        align-self: stretch;
        text-decoration: none;
      }
      &__text {
        align-self: stretch;
        color: $black-color;
        font-family: "fw-400";
        font-size: 16px;
        font-style: normal;
        line-height: normal;
      }
    }

    p {
      color: $black-color;
      font-family: "fw-400";
      font-size: 16px;
      font-style: normal;
      line-height: normal;
      align-self: stretch;
    }
  }
}

// @include media (md-mobile) {
//   .videos {
//     display: flex;
//     width: 100%;
//     padding: 0px 38px;
//     justify-content: space-between;
//     align-items: flex-start;
//     align-content: flex-start;
//     row-gap: 40px;
//     flex-wrap: wrap;
  
//     .details {
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       gap: 20px;
  
//       a {
//         position: relative;
//         width: 100%;
//         img {
//           width: 100%;
//           height: 264px;
//           object-fit: cover;
//         }
//         .overlay {
//           position: absolute;
//           top: 0;
//           left: 0;
//           bottom: 0;
//           width: 100%;
//           height: 264px;
//           background:  rgba(8, 8, 8, 0.801);
//           text-align: center;
//           opacity: 0;
//           &::after {
//             content: "\f04b";
//             font-family: FontAwesome;
//             font-weight: normal;
//             font-style: normal;
//             font-size: 100px;
//             line-height: 264px;
//             color: $white-color;
//           }
//         }
//       }
  
//       &__content {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         gap: 10px;
//         align-self: stretch;
//         a {
//           align-self: stretch;
//           color: $black-color;
//           font-family: "fw-700";
//           font-size: 24px;
//           font-style: normal;
//           line-height: normal;
//           align-self: stretch;
//           text-decoration: none;
//         }
//         &__text {
//           align-self: stretch;
//           color: $black-color;
//           font-family: "fw-400";
//           font-size: 16px;
//           font-style: normal;
//           line-height: normal;
//         }
//       }
  
//       p {
//         color: $black-color;
//         font-family: "fw-400";
//         font-size: 16px;
//         font-style: normal;
//         line-height: normal;
//         align-self: stretch;
//       }
//     }
//   }
// }

@include media (sm-mobile, md-mobile, lg-mobile) {
  .videoPage {
    .category-video {
      width: 100%;
      padding: 0px 20px;
  
      &__background {
        padding: 7px;
  
        a {
          color: $white-color;
          font-family: "fw-700";
          font-size: 18px;
          font-style: normal;
          line-height: normal;
          text-decoration: none;
        }
      }
  
      &__background1 {
        padding: 7px;

        a {
          color: $black-color;
          font-family: "fw-500";
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-decoration: none;
        }
      }
    }
  }
  
  .videos {
    flex-direction: column;
    padding: 0px 20px;
            
    .details {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
    }
  }
}

@include sm-mobile {
  .videoPage {
    .category-video {
      &__background {
        a {
          font-size: 15px;
        }
      } 
    }
  } 
}

@include media(sm-tablet, md-tablet, lg-tablet) {
  .videoPage {
    .category-video {
      display: flex;
      padding: 0px 40px;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;
  
      &__background {
        display: flex;
        padding: 10px 30px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 100px;
        border: 1px solid $main-blue-color;
        background-color: $main-blue-color;
  
      }
  
      &__background1 {
        display: flex;
        padding: 10px 30px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 100px;
        border: 1px solid $main-blue-color;
        background-color: $white-color;
      }
    }
  }
  
  .videos {
    display: flex;
    width: 100%;
    padding: 0px 30px;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
            
    .details {
      width: 23%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      a {
        img {
          height: 182px;
        }
        .overlay {
          height: 182px;
          &::after {
            font-size: 50px;
            line-height: 182px;
          }
        }
      }
      &__content {
        a {
          font-size: 14px;
        }
      }
    }
  }
}