.footer{
    width: 100%;
    display: flex;
    padding: 60px 40px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    background:#303030;

    &__intro{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex: 1 0 0;

        h2{
            color: #FFF;
            font-family: fw-500;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
        }
        &__items{
            display: flex;
            align-items: center;
            gap: 20px;
            a{
            display: flex;
            gap: 10px;
            color: #FFF;
            font-family: fw-500;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            }
            i{
                color: var(--hite, #FFF);
                font-family: Font Awesome 6 Free;
                font-size: 18px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }
        }

        
    }

    &__support{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex: 1 0 0;

        h2{
            color:#FFF;
            font-family: fw-500;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: capitalize;
        }

        &__items{
            display: flex;
            align-items: center;
            gap: 20px;
            a{
            // display: flex;
            color: var(--hite, #FFF);
            font-family: fw-500;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            }
            i{
                color: var(--hite, #FFF);
                font-family: Font Awesome 6 Free;
                font-size: 18px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
            }
        }
    }

    &__img{
        flex: 1 0 0;
        align-self: stretch;
        img{
            width: 100%;
            height: 207px;
        }
        // background: url("/Img/img-footer.jpg"), lightgray 50%;
    }
}

.fa-phone, .fa-house, .fa-envelope, .fa-clock, .fa-gears, .fa-question{
    width: 25px;
}