.address {
  margin-top: 30px;
  position: relative;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  &--nm {
    margin-top: 0;
  }
  img {
    width: 100%;
    height: 491px;
    object-fit: cover;
  }
  .addressDetails {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 349px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 8px;
    border: 1px solid $black-color;
    background: $white-color;
    .header {
      display: flex;
      padding: 15px 20px;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;
      border-radius: 8px;
      background: $main-color-blue;
      color: $white-color;
      font-family: "fw-400";
      font-size: 18px;
      font-style: normal;
      line-height: normal;
    }
    .item {
      display: flex;
      padding: 15px 20px;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      align-self: stretch;
      &__header {
        color: $black-color;
        font-family: "fw-700";
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        text-transform: capitalize;
      }
      &__content {
        color: $black-color;
        font-family: "fw-400";
        font-size: 14px;
        font-style: normal;
        line-height: normal;
        text-transform: capitalize;
      }
    }
  }
}