.breadcrumb{
    display: flex;
    padding: 0px 20px;
    align-items: flex-start;
    gap: 0px;
    align-self: stretch;
    background-color: $main-background-color;

    &__item{
        display: flex;
        padding: 10px 0px;
        align-items: flex-start;
        gap: 0px;
        color: #303030;
        font-family: fw-500;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
        &:not(:last-child)::after{
            margin: 0 20px;
            content: ">";
        }
    }
}