.btn {
  &--seeDetails {
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: none;
    border-radius: 8px;
    background: $main-color-blue;
    color: $white-color;
    text-align: center;
    font-family: "fw-400";
    font-size: 14px;
    font-style: normal;
    line-height: 20px; 
  }
}