.navbar {
  display: flex;
  margin-top: 30px;
  padding: 20px;
  background: $main-blue-color;
  a.navbar--drop {
    display: none;
  }
  a {
    color: $white-color;
    padding: 10px 20px;
    text-decoration: none;
    font-family: "fw-700";
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    &:hover {
      color: rgba($color: $white-color, $alpha: 0.7);
    }
  }
  &--drop {
    cursor: pointer;
  }
  &__sticky {
    position: sticky;
    top: -1px;
    z-index: 2;
    padding: 0;
  }
  @include media(lg-mobile, md-mobile, sm-mobile, sm-tablet) {
    a.navbar--drop {
      display: block;
    }
  }
  @include lg-mobile {
    margin-top: 20px;
    padding: 0;
    flex-direction: column;
    a.navbar--drop {
      padding-top: 20px;
    }
    a {
      padding: 0 20px 20px 20px;
      font-size: 18px;
    }
    a:not(.navbar--drop) {
      display: none;
    }
  }
  @include md-mobile {
    margin-top: 20px;
    padding: 0;
    flex-direction: column;
    a.navbar--drop {
      padding-top: 15px;
    }
    a {
      padding: 0 15px 15px 15px;
      font-size: 14px;
    }
    a:not(.navbar--drop) {
      display: none;
    }
  }
  @include sm-mobile {
    margin-top: 20px;
    padding: 0;
    flex-direction: column;
    a.navbar--drop {
      padding-top: 15px;
    }
    a {
      padding: 0 15px 15px 15px;
      font-size: 14px;
    }
    a:not(.navbar--drop) {
      display: none;
    }
  }
  @include sm-tablet {
    margin-top: 20px;
    padding: 0;
    flex-direction: column;
    a.navbar--drop {
      padding-top: 20px;
    }
    a {
      padding: 0 20px 20px 20px;
      font-size: 18px;
    }
    a:not(.navbar--drop) {
      display: none;
    }
  }
}