.pagination {
  display: flex;
  padding: 0px 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  &__item {
    display: flex;
    padding: 15px 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background: $main-color-blue;
    color: $white-color;
    font-family: "fw-400";
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }
  @include media(lg-mobile, md-mobile) {
    &__item {
      padding: 10px 15px;
      font-size: 14px;
    }
  }
  @include sm-mobile {
    &__item {
      padding: 8px 12px;
      font-size: 13px;
    }
  }
  @include sm-tablet {
    a {
      padding: 7px 10px;
      font-size: 13px;
    }
  }
  @include md-tablet {
    a {
      padding: 10px 15px;
    }
  }
}