.pagination{
  display: flex;
  padding: 0px 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  user-select: none;
  li{
    display: inline-block;
    margin: 0px;
    a {
      display: flex;
      padding: 15px 20px;
      justify-content: center;
      align-items: flex-start;
      gap: 10px;
      color: $white-color;
      font-family: "fw-400";
      font-size: 18px;
      font-style: normal;
      line-height: normal;
      text-decoration: none;
    }
  }
}

.previous-page, .next-page{
  background: $main-blue-color;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover{
  transform: translateX(-5px);
}

.next-page:hover{
  transform: translateX(5px);
}

.current-page, .dots{
  background: #ccc;
  cursor: pointer;
}

.active{
  background: $main-blue-color;
}

.disable{
  background: #ccc;
}

// @include media (sm-mobile, md-mobile, lg-mobile) {
//   .pagination{
//     display: none; 
//     // li {
//     //   a{ 
//     //     padding: 3px 8px;
//     //   }
//     // }
//   }
// }

@include md-mobile {
  .pagination{
    padding: 0;
    li {
      a {
        padding: 4px 9px;
        font-size: 14px;
      }
    }
  }
}