@font-face {
    font-family: 'fw-700';
    src: url('../font/Inter-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'fw-500';
    src: url('../font/Inter-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'fw-400';
    src: url('../font/Inter-Regular.ttf') format('truetype');
}
    